<li class="dropdown alerts-dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <i class="icon-bell-alt"></i>
    Switch Repository <span class="badge">3</span>
  <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="#">Default <span class="label label-default">Default</span></a></li>
    <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
    <li><a href="#">Success <span class="label label-success">Success</span></a></li>
    <li><a href="#">Info <span class="label label-info">Info</span></a></li>
    <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
    <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
    <li class="divider"></li>
    <li><a href="#">View All</a></li>
  </ul>
</li>