<li class="dropdown messages-dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">

  <span class="glyphicon glyphicon-envelope space-right">
  Messages <span class="badge">7</span> <b class="caret"></b></a>

  <ul class="dropdown-menu">
    <li class="dropdown-header">7 New Messages</li>
    <li class="divider"></li>

    <li class="message-preview">
      <a href="#">
        <span class="avatar"><img src="http://placehold.it/50x50"></span>
        <span class="name">John Smith:</span>
        <span class="message">Hey there, I wanted to ask you something...</span>
        <span class="time"><i class="icon-time"></i> 4:34 PM</span>
      </a>
    </li>

    <li class="divider"></li>
    <li><a href="#">View Inbox <span class="badge">7</span></a></li>
  </ul>
</li>