{% for repo in repository.repo_list %}
  <tr>
    <td><a href="{{ repo.full_url }}" target="_bank">{{ repo.name }}</a></td>
    <td>{{ repo.owner }}</td>
    <td id="subscribed-{{ repo.owner }}-{{ repo.slug }}">No</td>
    <td>
      <input type="hidden" id="owner-{{ repo.owner }}-{{ repo.slug }}" value="{{ repo.owner }}">
      <input type="hidden" id="slug-{{ repo.owner }}-{{ repo.slug }}" value="{{ repo.slug }}">
      <input type="hidden" id="name-{{ repo.owner }}-{{ repo.slug }}" value="{{ repo.name }}">
      <button type="button" id="{{ repo.owner }}-{{ repo.slug }}" class="btn btn-link" value="subscribe">
        Subscribe
      </button>
    </td>
  </tr>
{% endfor %}