<!-- Screenshot 1 -->
<div class="modal fade" id="screenshot-1" role="dialog" aria-labelledby="screenshot-1-Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="screenshot-1-Label">Repository Subscription Manager</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
