
<ul class="nav navbar-nav side-nav">
  <li class="active"><a href="/dashboard"><i class="icon-dashboard"></i> Dashboard</a></li>
  <li><a href="/issues"><i class="icon-bar-chart"></i> Issues </a></li>
  <li><a href="/changesets"><i class="icon-table"></i> Changesets </a></li>
  <li><a href="/manage"><i class="icon-edit"></i> Manage </a></li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-collapse"></i> Dropdown <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown Item</a></li>
      <li><a href="#">Another Item</a></li>
      <li><a href="#">Third Item</a></li>
      <li><a href="#">Last Item</a></li>
    </ul>
  </li>
</ul>