{% for issue in repo.issues %}
        <tr>

          {% if issue.assignee %}
            <td><img class="assignee-avatar" src="{{ issue.assignee_avatar }}">
              {{ issue.assignee }}
            </td>
          {% else %}
            <td><span class="text-muted space-left">Unassigned</span></td>
          {% endif %}

          <td><a href="{{ issue.issues_url }}">{{ issue.title }}</a></td>
          <td>{{ issue.type }}</td>
          <td>{{ issue.created }}</td>
          <td>
            {% if issue.status == "Resolved" %}
              <span class="text-success">{{ issue.status }}</span>
            {% else %}

              {% if issue.status == "Bug" %}
              <span class="text-danger">{{ issue.status }}</span>
              {% else %}
              <span>{{ issue.status }}</span>

              {% endif %}
            {% endif %}
          </td>
        </tr>
{% endfor %}