<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>
      {% block meta_title %}Technetium | Bitbucket Repository Manager{% endblock %}
    </title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.png" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <div id='page-wrapper'>
      <div class='row'>

    {% include 'includes/addons/navbar.html' %}

    {% block content %}{% endblock %}
      </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

    <script type="text/javascript">
      function getIssues(){
//        alert("header="+header);
        var url = '/issues';
        var type = document.getElementById("Type");
        var priority = document.getElementById("Priority");
        var status = document.getElementById("Status");
        var created = document.getElementById("Created");

        if (type != null || priority != null || status != null || created != null){
          url += '?';
          if (type != null && type.value.trim() != ""){
            url += "Type="+type.value.trim();
          }
          if (priority != null && priority.value.trim() != ""){
            if (url.endsWith("?"))
              url += "Priority="+priority.value.trim();
            else
              url += "&Priority="+priority.value.trim();              
          }
          if (status != null && status.value.trim() != ""){
            if (url.endsWith("?"))
              url += "Status="+status.value.trim();
            else
              url += "&Status="+status.value.trim();              
          }
           if (created != null && created.value.trim() != ""){
            if (url.endsWith("?"))
              url += "Created="+created.value.trim();
            else
              url += "&Created="+created.value.trim();              
          }
      }


        top.location = url;
      }
    </script>

    <!-- Production JavaScript -->
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    -->
  </body>
</html>
