<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>
      {% block meta_title %}Technetium | Bitbucket Repository Manager{% endblock %}
    </title>
    <meta charset="UTF-8">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">

    {% block extra_css %}{% endblock %}
  </head>

  <body>

    <div id='page-wrapper'>
      <div class='row'>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
      </div>
    </div>
<!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
 -->
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>
</html>
