{% extends "includes/base.html" %}
{% load url from future %}


{% block content %}



<h3>Congratulations social-auth works!</h3>


<h4>Hi {{ first_name }} {{ last_name }} ({{ email }})</h4>
<br>
<h4>You are authorized to view the Issues JSON from technetium's private repo</h4>



<div class="col-lg-12">
            <h2>Issues</h2>
            <div class="table-responsive">
              <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="header">Status <i class="icon-sort"></i></th>
                    <th class="header">Title <i class="icon-sort"></i></th>
                    <th class="header">Priority <i class="icon-sort"></i></th>
                    <th class="header">Kind<i class="icon-sort"></i></th>
                    <th class="header">Component<i class="icon-sort"></i></th>
                  </tr>
                </thead>
                <tbody>


{% for issue in issues_json %}

<tr>
  <td>
    {{ issue.status }} 
  </td>
  <td>
     {{ issue.title }} 
  </td>
  <td>
     {{ issue.priority }} 
  </td>
  <td>
    {{ issue.kind }} 
  </td>
  <td>
     {{ issue.component}} 
  </td>
</tr>
{% endfor %}
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}



            