{% extends "includes/base.html" %}
{% load url from future %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/light.css">
</head>
<body>

    <div id="header">
        <h1 div style="text-align:center" class="title">Welcome to Technetium!</h1>
    </div>

    <h2 div style="text-align:center" id="synopsis">What is Technetium?</h2>
    <p>Technetium is a data aggregation web application built using Django on top of the Bitbucket API. Through this scalable API, Technetium is able to deliver simplistic yet highly useable tools perfect for use in any development environment.</p>


    <h2 div style="text-align:center" id="Why Technetium?"> Why Technetium?</h2>
    <p>Are you a product owner or scrum master finding it difficult to keep track of the multitude of projects under your belt? Look no further than Technetium for all of your issue and developmental tracking needs. Through our single-page application, you can easily configure repositories to stay up to date with through its repository manager, while having the ability able to read a report regarding the developmental progress of your project through Technetium's reports module. </p>

    <h2 div style="text-align:center" id="Repo Manager">Repository Manager</h2>
    <center><img border="0" src="../static/img/subscribe.png" width="700" height="400"></center>
    <br></br>
    <p> View all read-access enabled repositories on your account through Technetium's repository manager. Using its simplistic yet powerful accordion-style drop down lists, subscribe to repositories that you'd like to keep up with.</p>


    <h2 div style="text-align:center" id="Issue Tracker">Centralized Issue Tracker</h2>
    <center><img border="0" src="../static/img/issue_tracker.png" width="700" height="400"></center>
    <br></br>
    <p>View issues across a multitude of repositories using Technetium's central issue tracker. From bug tracking to resolved issues, our centalized issue tracker is perfect for all members of the development team to keep up with the project.</p>

    <h2 div style="text-align:center" id="Issue Tracker">Statistics/Graphs</h2>
    <center><img border="0" src="../static/img/reports.png" width="700" height="400"></center>
    <br></br>
    <p>View commit/issue activity in both tabular and graphical views using Technetium's report module. <em>Perfect for product owners and scrum masters to track the progress of any project.</em></p>



<!--  links  -->
</body>
</html>


{% endblock %}

