{% extends "includes/base.html" %}
{% load url from future %}

{% 
  type_val = 'bug'
  selected = 'selected'
  %}

{% block content %}
<div class="col-lg-12">
  <h2>Issue Tracker</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
      <thead>
        <tr>
          <th class="header">Title <i class="icon-sort"></i></th>
          <th class="header">Repository <i class="icon-sort"></i></th>
          <th class="header">Assignee <i class="icon-sort"></i></th>
          <th class="header">Type
                <select id="Type" onchange="getIssues()">
                  <option value="">no filter</option>
                  <option value="bug" 
{%  if filterNameValues.Type and filterNameValues.Type == 'bug'  %}
    {{ 'selected' }}
{%  endif  %}
                    >bug</option>
                  <option value="enhancement"
{%  if filterNameValues.Type and filterNameValues.Type == 'enhancement'  %}
    {{ 'selected' }}
{%  endif  %}
                    >enhancement</option>
                  <option value="proposal"
{%  if filterNameValues.Type and filterNameValues.Type == 'proposal'  %}
    {{ 'selected' }}
{%  endif  %}
                     >proposal</option>
                  <option value="task"
{%  if filterNameValues.Type and filterNameValues.Type == 'task'  %}
    {{ 'selected' }}
{%  endif  %}
                    >task</option>
                </select>  
            <i class="icon-sort"></i></th>
          <th class="header">Priority
                <select id="Priority" onchange="getIssues()">
                  <option value="">no filter</option>
                  <option value="major" 
{%  if filterNameValues.Priority and filterNameValues.Priority == 'major'  %}
    {{ 'selected' }}
{%  endif  %}
                    >major</option>
                  <option value="trivial"
{%  if filterNameValues.Priority and filterNameValues.Priority == 'trivial'  %}
    {{ 'selected' }}
{%  endif  %}
                    >trivial</option>
                  <option value="minor"
{%  if filterNameValues.Priority and filterNameValues.Priority == 'minor'  %}
    {{ 'selected' }}
{%  endif  %}
                     >minor</option>
                  <option value="critical"
{%  if filterNameValues.Priority and filterNameValues.Priority == 'critical'  %}
    {{ 'selected' }}
{%  endif  %}
                    >critical</option>
                  <option value="blocker"
{%  if filterNameValues.Priority and filterNameValues.Priority == 'blocker'  %}
    {{ 'selected' }}
{%  endif  %}
                    >blocker</option>
                </select>  
            <i class="icon-sort"></i></th>
          <th class="header">Created <i class="icon-sort"></i></th>
          <th class="header">Status <i class="icon-sort"></i></th>
        </tr>
      </thead>
      <tbody>
    {% for issue in issues_json %}
      <tr>
        <td><a href="{{ issue.issues_url }}">{{ issue.title }}</a></td>
        <td>{{ issue.repository }}</td>
        <td>{{ issue.assignee }}</td>
        <td>{{ issue.type }}</td>
        <td>{{ issue.priority }}</td>
        <td>{{ issue.created }}</td>
        <td>{{ issue.status }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
  </div>
</div>


{% endblock %}
