{% extends "includes/base.html" %}
{% load url from future %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-list-alt space-right"></span>
        Technetium Home
    </h2>
    <hr>

    <div class="inline panel-medium">

    <!-- What is Technetium -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-bullhorn space-right"></span>
        What is Technetium?</h3>
      </div>
      <div class="panel-body">
        <blockquote>Technetium is a data aggregation web application built using Django on top of the Bitbucket API. Through this scalable API, Technetium is able to deliver simplistic yet highly useable tools perfect for use in any development environment.
        </blockquote>
      </div>
    </div>
    <br>

    <!-- Why Technetium -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-question-sign space-right"></span>
        Why Technetium?</h3>
      </div>
      <div class="panel-body">
        <blockquote>Are you a product owner or scrum master finding it difficult to keep track of the multitude of projects under your belt? Look no further than Technetium for all of your issue and developmental tracking needs. Through our single-page application, you can easily configure repositories to stay up to date with through its repository manager, while having the ability able to read a report regarding the developmental progress of your project through Technetium's reports module.
        </blockquote>
      </div>
    </div>
    <br>

    <!-- Repository Manager -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-pushpin space-right"></span>
        Repository Subscriptions</h3>
      </div>
      <div class="panel-body">
        <blockquote>View all read-access enabled repositories on your account through Technetium's repository manager. Using its simplistic yet powerful accordion-style drop down lists, subscribe to repositories that you'd like to keep up with.
        </blockquote>
      </div>
    </div>
    <br>

    <!-- Issue Tracker -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-check space-right"></span>
        Centralized Issue Tracker</h3>
      </div>
      <div class="panel-body">
        <blockquote>View issues across a multitude of repositories using Technetium's central issue tracker. From bug tracking to resolved issues, our centalized issue tracker is perfect for all members of the development team to keep up with the project.
        </blockquote>
      </div>
    </div>
    <br>

    <!-- Reports and Graphs -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-stats space-right"></span>
        Reports and Graphs</h3>
      </div>
      <div class="panel-body">
        <blockquote>View commit/issue activity in both tabular and graphical views using Technetium's report module. <em>Perfect for product owners and scrum masters to track the progress of any project.</em>
        </blockquote>
      </div>
    </div>

    </div>

    <!-- Gallary Panel -->
    <div class="panel panel-default panel-thin inline pull-right">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="glyphicon glyphicon-picture space-right"></span>
        Screenshots of Features</h3>
      </div>
      <div class="panel-body">

        <!-- Screenshots -->
        <span class="cursor-hand" data-toggle="modal" data-target="#screenshot-1">
        <img class="img-thumbnail" src="/static/img/screenshots/manager.jpg">
        </span>

        <hr>
        <span class="cursor-hand" data-toggle="modal" data-target="#screenshot-1">
        <img class="img-thumbnail" src="/static/img/screenshots/issue_tracker.jpg">
        </span>

        <hr>
        <span class="cursor-hand" data-toggle="modal" data-target="#screenshot-1">
        <img class="img-thumbnail" src="/static/img/screenshots/report.jpg">
        </span>

        <hr>
        <span class="cursor-hand" data-toggle="modal" data-target="#screenshot-1">
        <img class="img-thumbnail" src="/static/img/screenshots/linegraph.jpg">
        </span>

        <hr>
        <span class="cursor-hand" data-toggle="modal" data-target="#screenshot-1">
        <img class="img-thumbnail" src="/static/img/screenshots/piegraph.jpg">
        </span>
      </div>
    </div>

    {% include "includes/addons/screenshots.html" %}
{% endblock %}

