{% extends "includes/base.html" %}
{% load url from future %}

{% block content %}
<div class="col-lg-12">
  <h2><span class="glyphicon glyphicon-tasks space-right"></span>
    Repository Report: <em>{{ owner }}/{{ repo_slug }}</em>
  </h2>
</div>
<hr>

<div class="col-lg-12">
    <div class="table-responsive">
        <table class="table table-hover table-striped tablesorter">
            <thead>
            <tr>
        <th class="header"> User <i class="icon-sort"></i></th>
        <th class="header"> Commits <i class="icon-sort"></i></th>
        <th class="header"> Issues Opened <i class="icon-sort"></i></th>
        <th class="header"> Issues Closed <i class="icon-sort"></i></th>
        <th class="header"> Issue Comments <i class="icon-sort"></i></th>

            </tr>
        </thead>
        <tbody>
        {% for key, value in changesets_users.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>

        </tr>
        {% endfor %}
    </tbody>
        </table>
    </div>
</div>

<br>
<hr>

{% load nvd3_tags %}
<head>
    {% include_chart_jscss %}
    {% load_chart graph.charttype graph.chartdata graph.chartcontainer graph.extra %}
</head>
<body>
    {% include_container graph.chartcontainer 400 500 %}
</body>




{% endblock %}