<!-- Issue Tracker: Filter Type -->
<div class="btn-group">

  <button type="button" class="btn btn-default btn-xs">Filter Type</button>
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bug</a></li>
    <li><a href="#">Enhancement</a></li>
    <li><a href="#">Proposal</a></li>
    <li><a href="#">Task</a></li>
    <li class="divider"></li>
    <li><a href="#">All</a></li>
  </ul>

</div>