<!-- Issue Tracker: Filter Status -->
<div class="btn-group">

  <button type="button" class="btn btn-default btn-xs">Status</button>
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">New</a></li>
    <li><a href="#">Open</a></li>
    <li><a href="#">Resolved</a></li>
    <li><a href="#">Duplicate</a></li>
    <li><a href="#">On Hold</a></li>
    <li><a href="#">Invalid</a></li>
    <li><a href="#">Won't Fix</a></li>
    <li class="divider"></li>
    <li><a href="#">All Issues</a></li>
  </ul>

</div>
