<!-- Issue Tracker: Filter Status -->
<div class="btn-group">

  <button type="button" class="btn btn-default btn-xs">Status</button>
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=new{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >New</a></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=open{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >Open</a></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=resolved{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >Resolved</a></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=duplicate{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >Duplicate</a></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=on_hold{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >On Hold</a></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=invalid{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >Invalid</a></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}&status=wontfix{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >Won't Fix</a></li>
    <li class="divider"></li>
    <li><a href="/issues?repo_slug={{ repo.repo_meta.repo_slug }}{% if repo.query_str_dict  %}{{ repo.query_str_dict.status }}{% endif %}"
      >All Issues</a></li>
  </ul>

</div>
