                <select id="Assignee" onchange="getIssues()">

                <option value="">no filter</option>
                
                <option value="unassigned" 

{%  if filterNameValues.Assignee and filterNameValues.Assignee == 'unassigned'  %}
    {{ 'selected' }}
{%  endif  %}>unassigned</option>

{% for assignee in all_assignees %}
                  <option value="{{ assignee }}"
{%    if filterNameValues.Assignee and filterNameValues.Assignee == assignee  %}
    {{ 'selected' }}
{%    endif  %}
                  >{{ assignee }}</option>
{% endfor %}
                </select>
            <i class="icon-sort"></i>
