<!-- Issue Tracker: Filter Date -->
<div class="btn-group">

  <button type="button" class="btn btn-default btn-xs">Filter Date</button>
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Today</a></li>
    <li><a href="#">This Week</a></li>
    <li><a href="#">This Month</a></li>
    <li><a href="#">This Year</a></li>
    <li class="divider"></li>
    <li><a href="#">All Dates</a></li>
  </ul>

</div>
